:root {
  --color-bar-primario: #2C6BA3;
  --color-bar-secundario: #fff;
  --color-bar-tercero: #fff;
  --color-enfasis:  #ff7900;
  --color-fondo: #fff;
  --color-texto:#000000;
  --color-boton-letra:#000000;
}
.diurno {
    --color-bar-primario: #2C6BA3;
    --color-bar-secundario: #fff;
    --color-bar-tercero: #fff;
    --color-enfasis:  #ff7900;
    --color-fondo: #fff;
    --color-texto:#000000;
    --color-boton-letra:#000000;
}

.nocturno {
    --color-bar-primario: rgba(66, 65, 77, 1);
    --color-bar-secundario: rgba(66, 65, 77, 1);
    --color-bar-tercero: rgba(66, 65, 77, 1);
    --color-enfasis:  #ff7900;
    --color-fondo: rgb(43, 42, 51);
    --color-texto: #fff;
    --color-boton-letra:#fff;
}

.diurno-alto {
    --color-bar-primario: #2C6BA3;
    --color-bar-secundario: #43a7ff;
    --color-bar-tercero: #43a7ff;
    --color-enfasis:  #ff7900;
    --color-fondo: #fff;
    --color-texto:#242220;
    --color-boton-letra:#242220;
}

.nocturno-alto {
    --color-bar-primario: #000000;
    --color-bar-secundario: rgba(66, 65, 77, 1);
    --color-bar-tercero: #000000;
    --color-enfasis:  #ff7900;
    --color-fondo: rgb(43, 42, 51);
    --color-texto: #fff;
    --color-boton-letra:#fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /*Degradado de colores a la pagina*/
  border-radius: 50%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  /*Grip para la estructura de la página*/
  display: grid;
  grid-template-areas:
    "head"
    "nava"
    "asid"
    "main"
    "foot";
}

header {
  /*Cabecera, separa los 3 objetos del header entre ellos **/
  grid-area: head;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--color-bar-primario);
  color: var(--color-enfasis);
}

header span {
  /*Estilos del titulo de la página */
  font-size: 2.5rem;
  font-family: "Danfo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "ELSH" 100;
}

header a {
  font-size: 1rem;
  color: var(--color-enfasis);
}

header svg {
  width: 2rem;
  height: 2rem;
}

.headerIcon {
  display: flex;
  flex-direction: row;
}

.headerIcon > a {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
nav {
  /*Barra de navegacion de plataformas de juegos*/
  grid-area: nava;
  padding: 1rem;
  background-color: var(--color-bar-tercero);
  color: var(--color-texto);
}

nav div {
  display: flex;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  font-size: 1.5rem;
}

aside {
  /*Aside*/
  grid-area: asid;
  padding: 1rem;
  background-color: var(--color-bar-tercero);
  color: var(--color-texto);
}

aside a {
  font-size: 1.4rem;
}

nav,
aside {
  /*A las barras de navegacion le ponemos el mismo formato de letra*/
  font-family: "Vast Shadow", serif;
  font-style: normal;
}
main {
  /*Contenedor de sección*/
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--color-fondo);
}

section {
  /*Contenedor de articulos*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Botones de diurno y nocturno*/
.sectColores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: #fff;
}
.diuBut {
  background-color: #0092ff;
  color: var(--color-general);
}
.nocBut {
  background-color: rgba(66, 65, 77, 1);
  color: var(--color-general);
}
.diuABut {
  background-color: #ff6808;
  color: var(--color-general);
}
.nocABut {
  background-color: #120907;
  color: var(--color-general);
}
.newSection div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

article {
  /*Producto*/
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 12px;
  padding: 5px;
  align-items: center;
  margin: 1rem;
  width: 100%;
  height: 100%;
  color: var(--color-texto);
  background-color: var(--color-bar-secundario);
}

article > section {
  display: block;
  width: 100%;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
}
h1, h2 {
  font-size: 2rem;
  color: var(--color-enfasis);
}

.mainProduc {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
}

tbody {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
tr {
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
}
.creador td{
  font-weight: bold;
}

article button {
  border: 1px solid black;
  border-radius: 12px;
  background-color: var(--color-enfasis);
}
article button a {
  margin: 0.2rem;
  font-size: 1.8rem;
  color: var(--color-boton-letra);
}
.visuales{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
}
.visuales h2 {
  align-self: flex-start;
}
.video {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
}
.video > div{
display: grid;
grid-template-columns: 1fr 1fr;
width: 100%;
height: 100%;
padding: 1rem;
}
.video > div >div{
  margin: 0.2rem;
  padding: 0.2rem;
  }

.price {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1rem;
  font-weight: bold;
}
.platform{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.platform div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
  padding: 0.2rem;
}
.platform div svg{
  height: 1rem;
  width:  1rem;
  justify-content: center;
  margin: 0.2rem;
}

footer {
  /*Footer*/
  grid-area: foot;
  display: grid;
  height: auto;
  grid-gap: 1rem;
  padding: 1rem;
  background-color: var(--color-bar-primario);
  color: var(--color-texto);
  font-family: "Open Sans", sans-serif;
}

aside span {
  /*Encabezados del footer y del aside*/
  font-size: 1.45rem;
  font-weight: bold;
}
footer span {
  /*Encabezados del footer y del aside*/
  font-size: 1.05rem;
  font-weight: bold;
}

footer ul {
  display: flex;
  flex-direction: column;
}
ul > li {
  margin: 0.2rem;
  padding: 0.2rem;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-block: auto;
  list-style-type: none;
}
img {
  align-self: center;
  height: 100%;
  width: 100%;
  border: 1px;
  border-radius: 12px;
}

p {
  font-size: 1rem;
}
a {
  text-decoration: none;
  font-size: 1rem;
  justify-content: center;
  color: var(--color-texto);
}

.copy svg {
  width: 2rem;
  height: 2rem;
}

button {
  margin: 0.5rem;
  border: 1px;
  border-radius: 12px;
}

/* Estilos para el modo oscuro (dark mode) */

@media (prefers-color-scheme: dark) {
  :root {
    --color-bar-primario: rgba(66, 65, 77, 1);
    --color-bar-secundario: rgba(66, 65, 77, 1);
    --color-bar-tercero: rgba(66, 65, 77, 1);
    --color-enfasis:  #ff7900;
    --color-fondo: rgb(43, 42, 51);
    --color-texto: #fff;
    --color-boton-letra:#fff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bar-primario: #2C6BA3;
    --color-bar-secundario: #fff;
    --color-bar-tercero: #fff;
    --color-enfasis:  #ff7900;
    --color-fondo: #fff;
    --color-texto:#000000;
    --color-boton-letra:#000000;
}
}

/* Tablets y phablets  2 */
@media screen and (min-width: 576px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Escritorio pequeño / tablet  3 */ /* para pantallas de entre 576 y 1023 px en horizontal y vertical*/
@media screen and (min-width: 912px),
  (min-width: 576px) and (orientation: landscape) {
  body {
    display: grid;
    grid-template-areas:
      "head head head head head"
      "nava nava nava nava nava"
      "asid main main main main"
      "foot foot foot foot foot";
  }
  header {
    grid-area: head;
  }
  nav {
    grid-area: nava;
  }
  aside {
    grid-area: asid;
  }
  main {
    grid-area: main;
    font-family: Arial, Helvetica, sans-serif;
  }
  aside ul {
    display: flex;
    flex-direction: column;
  }

  footer {
    grid-area: foot;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .copy {
    grid-column-end: span 3;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    width: 100%;
  }

  .copy div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}

/* Escritorio grande */
@media screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-areas:
      "head head head head head"
      "nava main main main main"
      "asid main main main main"
      "asid main main main main"
      "asid main main main main"
      "asid main main main main"
      "foot foot foot foot foot";
  }
  header {
    grid-area: head;
  }
  nav {
    grid-area: nava;
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }
  aside {
    grid-area: asid;
  }

  aside ul {
    display: flex;
    flex-direction: column;
  }
  main {
    grid-area: main;
  }

  article > section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    margin: 1rem;
    padding: 1rem;
  }

  article .details {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .acercaDe {
    grid-column: 1 / 3;
  }

  footer {
    grid-area: foot;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .copy {
    grid-column-end: span 3;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    width: 100%;
  }

  .copy div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}
